body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  margin: 0;
  width: 10rem;
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  margin-bottom: 0;
  margin-top: 0.5rem;
}

input{
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.button{
  padding: 0.5rem;
  border: .1rem #808080 solid;
  background-color: lightskyblue;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}